/* reset */
@import url(reset.css);

body {
    font-family: SFMono-Regular, Monaco, Courier, monospace;
    font-size: 15px;
    color: #000;
    margin: 0;
    padding: 0;
}

#info {
    margin: 20%;
    color: #000;
}

#info .email {
    font-family: monospace;
}

#info .name {
    font-size: 120%;
    font-weight: bold;
    color: #000;
}

#info .name img {
	width: 450px;
}

#info .bio {
    margin-top: 10px;
}

#info .social {
    margin-top: 40px;
}

#info .social a {
    color: #666;
}
